<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CantoClarity</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}" />
</head>
<body>
    <div class ="flex-container">
        <h1>CantoClarity</h1>
        <h4 id="desc">Training a model using Meta's Wav2Vec2 to recognize mispronunciations in Cantonese</h4>
        <h3>Demo</h3>
        <p>Say the following sentence below. Upon clicking the button, you have five seconds to say your sentence.</p>
        
        <form method = "POST" action = "/handle_post">
            <div id = "side-by-side">
                <input type="submit" class = "btn" value = "Click to speak!"></input>
                <p id = "cantonese">你叫咩名啊? (What is your name?)</p>
            </div>

            <div id = "side-by-side">
                {% if analysis %} <!-- if ground_phonemes returns True, all other variables exist too -->
                <table id = "table_1">
                    <th>General results</th>
                    <tr class="spaceUnder">
                        <td>The correct phonemes: </td>
                        <td>{{ground_phonemes}}</td>
                    </tr>
                    <tr>
                        <td>What you said: </td>
                        <td>{{input_phonemes}}</td>
                    </tr>
                </table>

                <table id = "table_2">
                    <th>Correct phoneme</th>
                    <th>Your accuracy</th>
                    {% for item in analysis %}
                        {% if item.phoneme == "" %}
                            <tr><td colspan="2">&nbsp;</td></tr>
                        {% else %}
                            <tr>
                                {% if item.accuracy == 0 %}
                                    <td class = "red">{{item.phoneme}}</td>
                                {% else %}
                                    <td>{{item.phoneme}}</td>
                                {% endif %}

                                <td>{{item.accuracy}} %</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            {% endif %}

            </div>


        </form>

        <!--<p>Hehehe <span style="color: red"> - seth rogen</span></p>-->

        <!--<form method = "post">

            <a href=”/handle_post"><input type=”button” class = "btn">Click to speak!</a>
            <!--<button class = "btn" action = "/result" method = POST>Click to speak! &#128264;</button>-->
        <!--</form>-->

        <h3>Motivation</h3>
        <p> My Cantonese is worse than it should be for someone who grew up in Hong Kong. I'm okay at conversing,
            but have always wondered if there was a way to use coding to improve my pronunciation. It turns out there
            <em>is</em> a way — I've trained a model to recognize phoneme-level mispronunciations in Cantonese. Although
            it's obviously imperfect (there are many other factors that affect pronunciation), it's a start. I
            use this as a tool to improve my own pronunciation, and hope others to do the same. </p>
        </p>

        <h3>Methodology</h3>
        <p>My end goal was to create a model that, when given a recording of a Cantonese speaker, would be able to
            identify which phonemes were mispronounced. I trained a model to recognize Cantonese phonemes from an audio file, and
            reasoned that phonemes where the model had low confidence in its prediction were likely to be mispronounced.<br><br>

            The model was fine-tuned from a pretrained XLSR-53 Wav2Vec2 model, which is a state-of-the-art speech recognition software
            by Meta.<br><br>

            Notably, the XLSR-53 version of the Wav2Vec2 model was trained for zero-shot cross-lingual phoneme recognition. In English,
            this means that the model was trained to recognize phonemes for completely new languages that were not in its training dataset.
            This is possible because there are many phonemes shared by languages -- for example, the "a" sound in "apple" isn't only shared by
            English, it's shared by many other languages.
            
            <br><br>
        </p>
    </div>
    <!--<script src="../static/app.js"></script>-->
    <noscript>Sorry! JavaScript needs to be enabled to view the full site.</noscript>
</body>
</html>